*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    text-align: center;
    /* background-color: #4E3B2E; */
    background-image: url("./img/background_img.jpg");
    background-size: cover;
    background-position: center;
}
#b_gridSize{
    background-color:#D6A14F;
}
h3{
    display: inline;
}
#container{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#tools{
    display: flex;
    flex-direction: column;
    background-color: #D6A14F;
    width: 250px;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #7B6F5A;
    margin-right: 15px;
}
.tool{
    background-color: #300c1c;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
}
.tools:first-child{
    background-color: #210011;
}
#b_random{
    background-color: #5a1532;
}
#b_white{
    background-color: #ff6124;
}
.tool:last-child{
    background-color: #d41c1c;
}
#canvas{
    display: flex;
    flex-wrap: wrap;
    outline: 3px solid lightblue;
    width: 480px;
    height: 480px;
    align-self: center;
    border: 0;
}
#canvas div{
    background-color: white;
    border: 0.5px solid black;
    box-shadow: 0 0 0 0.5px black;
}
.footer{
    text-align: center;
    width: 100;
    height: 20px;
    background-color: #7B6F5A;
    margin-top: 25px;
}